<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<header></header>
<style>
    canvas{
        width: 150px;
        height: 150px;
        background: aliceblue;
    }
    .plugin {
        border: solid 1px;
    }
    #log {
        color: red;
    }
</style>
<main>
    <div id="toggle"></div>
    <div id="plugins"></div>
    <div id="log">
        {{msg}}
    </div>
    <div id="app"/>
</main>
<canvas id="canvas"></canvas>
<canvas id="fft"/></canvas>
<footer></footer>
<script>
    let socket = new WebSocket("ws://127.0.0.1:8000");
    Vue.component("parameter", {
        template: "<div>" +
            "<input v-model='what' " +
            ":max = 'max' " +
            ":step = 'step' " +
            "type='range'></input>" +
            "<span>{{what}}</span>" +
            "</div>",
        props: {
            k: String,
            value: Number,
        },
        data: () => ({
            max:0, step:0,
        }),
        mounted() {
            this.max = Math.pow(10, Math.round(Math.log10(this.value < 1 ? 1 : this.value)))
            this.step = this.max / 1000;
        },
        computed: {
            what: {
                get() {
                    return this.value
                },
                set(v) {
                    this.$parent.$emit("set", v, this.k)
                }
            },

        },
    });
    Vue.component("ugen", {
            template: "<div class='plugin'>" +
                "<div v-for='k in Object.keys(schema).sort()'> " +
                "<span>{{k}}</span>" +
                "<parameter v-if='isNumber(schema[k])' " +
                ":k=newKey(k) :value='schema[k]'/>" +
                "<ugen v-else :title=newKey(k) :schema='schema[k]'/>" +
                "</div>" + "</div>",
            props: {
                "schema": {}, "title": {default: ""}
            },
            methods: {
                newKey(k) {
                    return this.title ? `${this.title} ${k}` : k
                },
                isNumber(v) {
                    return typeof (v) == "number"
                }
            },
        });
    let plugins = new Vue({
        el: "#plugins",
        template: "<select v-model='selected'" +
            "   @change='send'" +
            ">" +
            "<option v-for='plugin in plugins'" +
            ">" +
            "{{plugin}}" +
            "</option>" +
            "</select>",
        data: {
            selected: "",
            plugins: [],
        },
        methods: {
            send(v) { socket.send("plugin " + this.selected) }
        }
    });
    let toggle = new Vue({
        el: "#toggle",
        template: "<button @click=send>toggle</button>",
        methods: {
            send() {
                socket.send("toggle");
            }
        }
    });
    let ugens = new Vue({
        el: "#app",
        template: "<ugen " +
            "@set='set'" +
            ":schema='schema'/>",
        data: {schema: {}},
        methods: {
            set(val, key) {
                this.schema[key] = parseFloat(val);
                // console.log(this.schema)
                socket.send(`${key} ${val}`);
            },
        }
    })
    let log = new Vue({
        el: "#log",
        data: {msg: "log:"}
    });
    socket.onmessage = (msg) => {
        // console.log("receiving msg");
        // console.log(msg);
        if (!msg.data) {
            return;
        }
        try {
            var schema = JSON.parse(msg.data);
        } catch (e) {
            log.msg = "log: " + msg.data;
            ugens.schema = {};
            ["#canvas", "#fft"].forEach(begin_draw);
        }
        log.msg = "log: " + "";
        function begin_draw(selector){
            let canvas_signal = document.querySelector(selector);
            let ctx = canvas_signal.getContext('2d');
            let [width, height] = [canvas_signal.width, canvas_signal.height];
            ctx.clearRect(0,0,width, height);
            return [ctx, width, height];
        }
        function draw_fft(data){
            let [ctx, width, height] = begin_draw("#fft");
            let wi = (width / data.length);
            for (let i in data) {
                let val = data[i];
                ctx.fillStyle = `rgb(${val}, 50, 50)`;
                ctx.fillRect(i * wi, height, wi, val * 10);
            }
        }
        function draw_signal(data){
            let [ctx, width, height] = begin_draw("#canvas");
            ctx.beginPath();
            ctx.moveTo(0, 0);
            for (let i in data) {
                ctx.lineTo(i * (width / data.length), (1 + data[i]) * height / 2);
            }
            ctx.stroke();
        }
        let callbacks = {
            out : requestAnimationFrame.bind(null, draw_signal.bind(null, schema.out)),
            fft: requestAnimationFrame.bind(null, draw_fft.bind(null, schema.fft)),
            params() {
                ugens.schema = schema.params;
            },
            plugins() {
                plugins.plugins = schema.plugins;
            }
        };
        callbacks[Object.keys(schema)[0]]();
    };
</script>
</body>
</html>